*.chm
*.exe
*.bat
*.iso
*.vmsn
*.nvram
*.vmdk
*.lck
*.vmxf
*.vmx
*.vmsd
*.docx
*.log
*.pdf
*.mp4
*.gz
*.rpm
*.parcel
*.asc
*.doc
*.xmind
*.png
*.gif
*.webp
*.svg
*.jpg
*.jpeg
*.lnk

/待完成
/CS/1Linux/虚拟机/
/CS/4数据库/数据库连接工具/
/CS/6大数据技术/0CDH/CDH/
/CS/7数据仓库/doc



/CS/6数据仓库/doc
